{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<form method="POST">
    <button id="createButton" type="submit" class="btn btn-primary" onclick="MakeRoom()">Create Room</button>
</form>
<br/>
<form method="POST">
    <button id="joinButton" type="submit" class="btn btn-primary" onclick="SetRoom()">Join Room</button>
    <input type="text" id="roomName" name="roomName" placeholder="Enter room name"/>
</form>
<script>
    randCode = Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 5);
    function MakeRoom(){
        room = sessionStorage.setItem("currentRoom", randCode);
    }

    function SetRoom(){
        room = sessionStorage.setItem("currentRoom", document.getElementById("roomName").value);
    }

</script>
{% endblock %}
{% block chat %}
{% endblock %}