{% extends "base.html" %}
{% block title %}Lobby{% endblock %}
{% block content %}
<p>Silvagunner Music Quiz</p>
<form method="POST">
    <button id="startButton" type="submit" class="btn btn-primary">Start Game</button>
</form>
<br/>
<button id="goHome" class="btn btn-primary" >Back to Home</button>
<script type="text/javascript">
    document.getElementById("goHome").onclick = function () {
        location.href = "/";
    };
</script>
<p id="showRoom"></p>
<script>
    document.getElementById('showRoom').innerHTML = "Room: " + sessionStorage.getItem("currentRoom");
</script>

{% endblock %}
