{% extends "base.html" %}
{% block title %}Play{% endblock %}
{% block content %}
<br/>
<!--show a hidden youtube link-->
<div id="hiddenVideo">
    <div id="hide1" style="position:relative;width:222px;height:25px;overflow:hidden;">
        <div id="hide2" style="position:absolute;top:-266px;left:-15px">
            <iframe id="vid" width="400" height="300" src="{{video[0]}}" allow="autoplay">
            </iframe>
        </div>
    </div>
    <p id="clickHere">Click To Play Song</p>
    <br/>
</div>

<!--forms for answering-->
<form method="POST" id="answer" onkeydown="return event.key != 'Enter'">
    <div class="text-container">
        <input type="text" name="game" id="game" list="games" class="form-control"
                    placeholder="Enter game name" autocomplete="off" />
        <datalist id="games">
            {% for elem in games_list %}
                <option value= "{{elem}}">
            {% endfor %}
        </datalist>
    </div>
    <br/>
    <div class="text-container">
        <input type="text" name="joke" id="joke" list="jokes" class="form-control"
                    placeholder="Enter joke name" autocomplete="off" />
        <datalist id="jokes">
            {% for elem in jokes_list %}
                <option value= "{{elem}}">
            {% endfor %}
        </datalist>
    </div>
    <br/>
</form>

<button id="startButton" type="submit" class="btn btn-primary">Start Game</button>

<br/>
<p id="countdown"></p>
<p id="thing"></p>
<p id="score_text"></p>
<br/>
<p id="showRoom"></p>
<script>
    document.getElementById('showRoom').innerHTML = "Room: " + sessionStorage.getItem("currentRoom");
</script>
<br/>
<div class="slidecontainer">
    <p>SFX Volume</p>
    <input type="range" min="1" max="100" value="80" class="slider" id="sfxVolume">
</div>

<div id="textScroll" style="position: absolute;
    bottom: 350px;
    max-height: 526px;
    left: 10px;
    width: 300px;
    word-wrap: break-word;
    overflow-y: auto">
    <ul id="allMessages">
        {% for msg in messages %}
        <li>{{msg.message}}</li>
        {% endfor %}
    </ul>
</div>
<div style="position: absolute;
    bottom: 300px;
    left: 10px;
    width: 300px;">
    <input type="text" id="myMessage">
    <button id="sendButton">Send</button>
</div>
{% endblock %}
{% block socket %}
<script src="static/sockets.js"></script>
<script>
    $('#sendButton').on('click', function(){
        if ($('#myMessage').val() != ''){
            socket.emit("message", "{{user.first_name}}: " + $('#myMessage').val().substr(0,500), currentRoom);
            $('#myMessage').val('');
        }
    });
</script>
{% endblock %}
{% block playScript %}
<script>
    <!--    set up variables-->
    let showTimeout, hideTimeout;
    var x = document.getElementById("hiddenVideo");
    var z = document.getElementById("vid");
    var forms = document.getElementById("answer");
    var game = document.getElementById("game");
    var joke = document.getElementById("joke");
    count = 1;
    score = 0;
    document.getElementById('thing').innerHTML = count + " / 5 songs";
    document.getElementById('score_text').innerHTML = "Score: " + score;
    var jokeAns = "";
    var gameAns = "";
    var timer = 30;
    var showingAnswer = true;
    var elem = document.getElementById('textScroll');
    var hide1 = document.getElementById('hide1');
    var hide1 = document.getElementById('hide1');
    <!--    set up list of videos, games, and jokes-->
    const allVideos = [];
    const allGames = [];
    const allJokes = [];
    {% for item in video %}
        allVideos.push("{{item}}");
    {% endfor %}
    {% for item in gameans %}
        allGames.push("{{item}}");
    {% endfor %}
    {% for item in jokeans %}
        allJokes.push("{{item}}");
    {% endfor %}
    rand = Math.floor(Math.random() * allVideos.length);
    z.src = allVideos[rand];

    socket.on('getRand', function(randVid) {
        rand = randVid["randVid"];
        z.src = allVideos[rand];
    });

    <!--start up lobby-->
    x.style.display = "none";
    forms.style.display = "none";
    socket.on('startGame', function(randVid) {
        score = 0;
        count = 1;
        hide1.style = "position:relative;width:222px;height:25px;overflow:hidden;";
        hide2.style = "position:absolute;top:-266px;left:-15px";
        document.getElementById('clickHere').style.display = "block";
        $("#allMessages").append('<li>-----------Round ' + count + '-----------</li>');
        elem.scrollTop = elem.scrollHeight;
        document.getElementById('score_text').innerHTML = "Score: " + score;
        document.getElementById('thing').innerHTML = count + " / 5 songs";
        document.getElementById('countdown').style.display = "block";
        x.style.display = "block";
        forms.style.display = "block";
        showTimeout = setTimeout(showVideo, 30000);
        timerCountdown = setInterval(decreaseTimer, 1000);
        timer = 30;
        rand = randVid["randVid"];
        showingAnswer = true;
        game.value = "";
        joke.value = "";
        document.getElementById("startButton").style.display = "none";
    <!--        rand = Math.floor(Math.random() * allVideos.length);-->
        z.src = allVideos[rand];
    });

    function showFinal(){
        $("#allMessages").append('<li>-------Final Standings!-------</li>')
        elem.scrollTop = elem.scrollHeight;
    }

    function changeSong(){
        socket.emit("get_rand", sessionStorage.getItem("currentRoom"));
    }

    <!--countdown timer-->
    function decreaseTimer() {
        timer--;
        if (timer < 4 && timer > 0 && showingAnswer == true){
            playSound("static/audio/timer.wav");
        }
    <!--        if(timer < 1 && showingAnswer == true){-->
    <!--            timer = 10;-->
    <!--            showingAnswer = false;-->
    <!--        } else if(timer < 1 && showingAnswer == false){-->
    <!--            timer = 30;-->
    <!--            showingAnswer = true;-->
    <!--        }-->
        document.getElementById("countdown").innerHTML = timer + " seconds left";
    }

    function showVideo() {
        timer = 10;
        showingAnswer = false;
        document.getElementById('clickHere').style.display = "none";

        gameAns = allGames[rand];
        jokeAns = allJokes[rand];

    <!--        check for correct answer and give points-->
        gameResponse = game.value.replace("'", "&#39;");
        jokeResponse = joke.value.replace("'", "&#39;");
        console.log(gameResponse);
        console.log(gameAns);
        console.log(jokeResponse);
        console.log(jokeAns);
        $("#allMessages").append('<li>Game: ' + gameAns +'</li>');
        $("#allMessages").append('<li>Joke: ' + jokeAns +'</li>');
        elem.scrollTop = elem.scrollHeight;
        if (gameResponse == gameAns && jokeResponse == jokeAns){
            socket.emit("message", "{{user.first_name}} got it! +2 points", sessionStorage.getItem("currentRoom"));
            score += 2;
            playSound("static/audio/correct.wav");
        } else if (gameResponse != gameAns && jokeResponse != jokeAns){
            score += 0;
            playSound("static/audio/incorrect.wav");
        } else if (gameResponse == gameAns && jokeResponse != jokeAns){
            socket.emit("message", "{{user.first_name}} got the game. +1 point", sessionStorage.getItem("currentRoom"));
            score += 1;
            playSound("static/audio/partial.wav");
        } else if (gameResponse != gameAns && jokeResponse == jokeAns){
            socket.emit("message", "{{user.first_name}} got the joke. +1 point", sessionStorage.getItem("currentRoom"));
            score += 1;
            playSound("static/audio/partial.wav");
        }
        document.getElementById('score_text').innerHTML = "Score: " + score;

        hide1.style = "";
        hide2.style = "";
        forms.style.display = "none";
        if (count > 4) {
            showFinalText = setTimeout(showFinal, 2000);
        }
        changeSongTimeout = setTimeout(changeSong, 10000);
        hideTimeout = setTimeout(hideVideo, 10000);
    }

    function hideVideo() {
        if (count > 4) {
            x.style.display = "none";
            forms.style.display = "none";
            clearInterval(timerCountdown);
            socket.emit("message", "{{user.first_name}} scored " + score + " points!", sessionStorage.getItem("currentRoom"));
            document.getElementById('countdown').style.display = "none";
            document.getElementById('startButton').innerHTML = "Play Again";
            document.getElementById('startButton').style.display = "block";
            z.src = "https://www.youtube.com/embed/watch?v=dQw4w9WgXcQ?controls=0";
        } else {
            timer = 30;
            document.getElementById('clickHere').style.display = "block";
            showingAnswer = true;
            count++;
            $("#allMessages").append('<li>-----------Round ' + count + '-----------</li>');
            elem.scrollTop = elem.scrollHeight;
            document.getElementById('thing').innerHTML = count + " / 5 songs";
            hide1.style = "position:relative;width:222px;height:25px;overflow:hidden;";
            hide2.style = "position:absolute;top:-266px;left:-15px";
            forms.style.display = "block";
            game.value = "";
            joke.value = "";
            showTimeout = setTimeout(showVideo, 30000);
        }
    }
</script>
{% endblock %}